<div id='proyectos' class='center padded coal section padded'>
    <div class='content padded'>
        <div class='padded'>
            <h1>Algunos proyectos desarrollados por mi cuenta</h1>
        </div>
        <div class='row'>
            <div class='card third'>
                <h3>Portfolio</h3>
                <p>Esta misma pagina web, desarrollada completamente utilizando python con Flask y html y css.</p>
                <a class='red' target='_blank' href='#'>Python</a>
            </div>
            <div class='card third'>
                <h3>Gestor de clientes</h3>
                <p>Una aplicación para gestionar clientes.</p>
                <a class='red' target='_blank' href='#'>Link aquí</a>
            </div>
            <div class='card third'>
                <h3>Gestor de tareas</h3>
                <p>Una aplicación para gestionar tareas. Permite registrar usuarios con sus respectivas contraseñas y la seguridad adecuada para manejar estos datos y el login. Cada uno de ellos tiene una lista de tareas independiente.</p>
                <a class='red margin-right' target='_blank' href='https://github.com/Sergi-Lopez/todo_python'>Python</a>
                <a class='red' target='_blank' href='https://github.com/Sergi-Lopez/todo_python'>Java</a>
            </div>
        </div>
    </div>
</div>